@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin: 0 auto;
}

.circle {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding: 2rem 4rem;
    border-radius: 10px;
}

span {
    display: block;
    font-size: 1rem;
    text-align: center;
}

input {
    width: 5rem;
    height: 5rem;
    font-size: 3.3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
}

.play-pause-container {
    display: flex;
    gap: 2rem;
    background-color: rgb(230, 148, 160);
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
}

.play,
.pause,
.reset {
    cursor: pointer;
    padding: 0 0.2rem;
    border-radius: 10px;

}

.play:hover,
.play:focus,
.play:active,
.pause:hover,
.pause:active,
.pause:focus {
    background-color: rgb(214, 139, 150);

}

.reset {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    background-color: rgb(252, 27, 27);
    color: white;
}

.reset:hover,
.reset:focus {
    background-color: rgb(255, 0, 0);
    transform: scale(1.2);
    transition: transform 0.3s ease-in;
}

@media (max-width: 400px) {
    .parent-container {
        margin: 2rem 1rem;
    }

    .circle {
        padding: 1rem 2rem;

    }

    .play-pause-container {
        padding: 1rem 2rem;
    }
}




















































































